<% @busynesses.each do |busyness, rules| %>
<div class="media">
  <figure class="media-left">
    <%= image_tag busyness.logo, class: 'image is-64x64' if busyness.logo.attached? %>
  </figure>
  <div class="media-content">
    <div class="content">
      <strong><%= busyness.name %></strong>
    </div>
    <% rules.each do |rule| %>
    <div>
      <%= link_to rule.name, { controller: rule.controller_path, action: rule.action_name, **params.except(:business, :namespace, :controller, :action).permit! } %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
