<% @busynesses.each do |busyness| %>
<div class="media">
  <figure class="media-left">
    <%= image_tag busyness.logo, class: 'image is-64x64' if busyness.logo.attached? %>
  </figure>
  <div class="media-content">
    <div class="content">
      <strong><%= busyness.name %></strong>
    </div>
    <% current_organ.role_hash.fetch(busyness.identifier ,{}).fetch('admin', {}).each do |controller, actions| %>
    <div>
      <%= link_to controller, { controller: controller, **params.except(:business, :namespace, :controller, :action).permit! }, target: '_blank' if actions['index'].blank? %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
