<%= form_with theme: 'line', model: @organ, url: { action: 'create' }, class: 'cell card' do |f| %>
  <div class="card-content">
    <%= render 'error_messages', target: f.object %>
    <%= render partial: 'form', locals: { f: f } %>
    <%= f.submit %>
  </div>
<% end %>