<div class="hero-body">
  <% @organs.each do |organ| %>
    <div class="box">
      <div class="media is-middle">
        <div class="media-left">
          <%= image_tag organ.logo.variant(resize_to_limit: [150, 150]), class: 'image is-48x48' if organ.logo.attached? %>
        </div>
        <div class="media-content">
          <strong><%= link_to organ.name, { action: 'show', id: organ.id } %></strong>
        </div>
        <div class="media-right">
        </div>
      </div>
    </div>
  <% end %>
  <div class="media">
    <div class="media-content">
      <%= link_to({ controller: 'members', action: 'new' }, remote: true) do %>
        <i class="fas fa-plus"></i><span><%= t('org.board.organs.new.title') %></span>
      <% end %>
    </div>
  </div>
</div>
