<div>
  <dt><%= Org::MemberDepartment.human_attribute_name(:office_id) %></dt>
  <dd><%= @member_department.office_id %></dd>
</div>
<div>
  <dt><%= Org::MemberDepartment.human_attribute_name(:job_title_id) %></dt>
  <dd><%= @member_department.job_title_id %></dd>
</div>
