<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_member_departments_path, class: 'section' %>
  <i class="fa-solid fa-angle-right divider"></i>
  <div class="active section">Show</div>
</div>

<%= render 'show_table' %>
