<div class="menu-label">工作管理</div>
<div class="menu-list">
  <%= link_to t('org.my.organs.index.title'), my_organs_path, class: active_helper(controllers: ['organs'], active: 'is-active', item: nil) %>
</div>
