<div class="ui top attached tabular menu">
  <%= link_to t('org.panel.organs.show.title'), panel_organ_path, class: active_helper('panel/organs': ['show']) %>
  <%= link_to t('org.panel.organs.index.title'), panel_organs_path, class: active_helper(controllers: 'lessons') %>
</div>
