<%= form_with theme: 'search', model: Resign.new do |f| %>
  <div class="fields">
    <%= f.date_field "leave_on-gte", placeholder: 'Date Start' %>
    <%= f.date_field "leave_on-lte", placeholder: 'Date End' %>
    <%= f.submit %>
  </div>
<% end %>


