<div id="<%= "#{model.controller}/#{model.action}" %>" class="control">
  <div class="tags has-addons">
    <%= link_to({ controller: model.controller, action: model.action }, target: '_blank', class: 'tag') do %>
      <span><%= model.name %></span>
    <% end %>
    <%= button_to(
          { controller: 'org/admin/shortcuts', action: 'create' },
          params: { 'shortcut[controller]': model.controller, 'shortcut[action]': model.action },
          aria: { label: t('org.admin.shortcuts.create.title') },
          form: { class: 'tag' }
        ) do %>
      <i class="fa-solid fa-star text-grey"></i>
    <% end %>
  </div>
</div>