<%= form_with theme: 'weui', model: @user, url: my_user_path do |f| %>
  <div class="weui-form__control-area">
    <div class="weui-cells__group weui-cells__group_form">
      <div class="weui-cells weui-cells_form">
        <%= f.text_field :name %>
      </div>
    </div>
  </div>
  <%= f.submit nil, wrap: { all: nil } %>
<% end %>
