<%= button_to({ action: 'new' }, class: 'button is-rounded is-primary') do %>
  <i class="fa-solid fa-plus"></i>
  <span class="ml-1"><%= t('.new.title') %></span>
<% end %>
<%= button_to({ controller: 'datum/admin/table_lists', action: 'find', data_list_id: 'Org::MemberExport' }, class: 'button is-light') do %>
  <i class="fa-solid fa-file-excel"></i>
  <span class="ml-1"><%= t('datum.admin.table_lists.find.title') %></span>
<% end if defined? RailsData %>
