<div class="buttons are-small mb-0">
  <%= button_to({ action: 'new' }, class: 'button is-link') do %>
    <i class="fa-solid fa-plus"></i>
    <span class="pl-1"><%= t('.new.title') %></span>
  <% end %>
  <%= button_to({ controller: 'datum/admin/table_lists', action: 'find', data_list_id: 'Org::MemberExport', **params.permit(:organ_id) }, class: 'button is-light') do %>
    <i class="fa-solid fa-file-excel"></i>
    <span class="pl-1"><%= t('.export') %></span>
  <% end if defined? RailsData %>
</div>
