<div class="columns">
  <div class="column">
    <%= render layout: 'index_table', locals: { cache_key: Org::Member.column_names.hash } do %>
      <%= render partial: 'member', layout: 'index_tr', collection: @members, as: :model %>
    <% end %>
    <%= paginate @members %>
  </div>
  <div class="column is-narrow" style="width: 260px;">
    <%= render 'nav_show' %>
  </div>
</div>
