<%= link_to({ controller: '/auth/sign', action: 'logout' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-right-from-bracket has-text-danger"></i>
    <span class="pl-1 has-text-grey"><%= t('auth.sign.logout.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
