<%= link_to({ controller: '/auth/sign', action: 'logout' }, class: 'box-cell') do %>
  <div class="box-cell-body">
    <i class="fa-solid fa-fw fa-right-from-bracket has-text-danger"></i>
    <span class="pl-1 has-text-grey"><%= t('auth.sign.logout.title') %></span>
  </div>
  <i class="fa-solid fa-chevron-right has-text-grey"></i>
<% end %>
