<div class="box is-padding-less mx-3 mt-3">
  <div class="box-header">
    门店列表
  </div>
  <div class="weui-panel__bd">
    <%= render partial: 'organ', collection: @organs, as: :model %>
  </div>
</div>
