<div class="">
  <% @organs.each do |organ| %>
  <div class="media">
    <div class="media-left">
      <%= image_tag organ.logo.variant(resize_to_limit: [150, 150]), class: 'image' if organ.logo.attached? %>
    </div>
    <div class="media-content">
      <div>
        <span class="has-grey-text"><%= organ.name %></span>
      </div>
      <p><%= organ.address %></p>
    </div>
    <div class="media-right">
      <%= link_to organ.name, my_index_url(subdomain: organ.subdomain), class: 'button is-link' %>
    </div>
  </div>
  <% end %>
</div>
