<div class="weui-panel">
  <div class="weui-panel__hd">
    门店列表
  </div>
  <div class="weui-panel__bd">
  <% @organs.each do |organ| %>
  <div class="weui-media-box weui-media-box_appmsg">
    <div class="weui-media-box__hd">
      <%= image_tag organ.logo.variant(resize_to_limit: [150, 150]), class: 'weui-media-box__thumb' %>
    </div>
    <div class="weui-media-box__bd">
      <span class="weui-media-box__title">
        <%= link_to organ.name, login_organ_path(organ), method: :patch %>
      </span>
      <span class="weui-media-box__desc"><%= organ.address %></span>
    </div>
  </div>
  <% end %>
  </div>
</div>
