<div class="menu-label">我的团队</div>
<div class="menu-list">
  <%= link_to t('org.board.organs.index.title'), { controller: 'organs' }, class: active_helper(controller: 'org/board/organs', action: 'index', active: 'is-active') %>
  <% Roled::OrganRole.visible.each do |role| %>
    <%= link_to role.name, { controller: 'org/board/organs', action: 'new', role_id: role.id }, class: active_helper(controller: 'org/board/organs', action: 'new', role_id: role.id, check_parameters: true, active: 'is-active') %>
  <% end %>
</div>
