<div class="media" data-controller="empty">
  <figure class="media-left">
    <%# image_tag meta[0].logo, class: 'image is-64x64' if meta[0].logo.present? %>
  </figure>
  <div class="media-content">
    <div class="content">
      <strong><%= t('org.admin.title') %></strong>
    </div>
    <div data-empty-target="content">
      <%= link_to({ controller: 'org/admin/organs' }, class: 'tag') do %>
        <span><%= t('org.admin.organs.index.title') %></span>
      <% end %>
    </div>
  </div>
</div>
