<tr>
  <td class="has-text-right"><%= AuthorizedToken.human_attribute_name(:user_id) %></td>
  <td><%= @authorized_token.user_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= AuthorizedToken.human_attribute_name(:member_id) %></td>
  <td><%= @authorized_token.member_id %></td>
</tr>
