<div>
  <dt><%= AuthorizedToken.human_attribute_name(:user_id) %></dt>
  <dd><%= @authorized_token.user_id %></dd>
</div>
<div>
  <dt><%= AuthorizedToken.human_attribute_name(:member_id) %></dt>
  <dd><%= @authorized_token.member_id %></dd>
</div>
