<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_job_titles_path, class: 'section' %>
  <div class="divider"> > </div>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= form_with model: @job_title, url: admin_job_title_path(@job_title), method: :patch, local: true do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>
</div>

