<% if @department %>
  <%= render 'department_navbar' %>
<% end %>

<div class="ui breadcrumb">
  <%= link_to 'Back', panel_supports_path(department_id: @support.department_id), class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= render 'form' %>
</div>

