<table class="as-search">
  <tr>
    <th><%= JobTransfer.human_attribute_name(:state) %></th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:state]), class: active_helper(state: '', active: 'button is-info', item: 'button is-light') %>
      <% JobTransfer.states.keys.each do |state| %>
        <%= link_to JobTransfer.enum_i18n(:state, state), filter_params(state: state), class: active_helper(state: state, active: 'button is-info', item: 'button is-light') %>
      <% end %>
    </td>
  </tr>
</table>
