<div class="box">
  <div class="weui-panel__bd">
    <%= link_to({ controller: '/me/home' }, class: 'media') do %>
      <div class="media-content"><%= current_organ.name %></div>
      <div class="media-right">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    <% end %>
    <%= render partial: 'organ', collection: @organs, as: :organ %>
  </div>
</div>
