<%= render 'top_bar' %>



<% if current_organ.creator_id == current_user.id %>
<div class="box mx-3">
  <%= button_to({ action: 'destroy' }, method: :delete, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-fullwidth is-danger') do %>
    <i class="fa-solid fa-trash"></i>
    <span class="pl-1"><%= t('.destroy.title') %></span>
  <% end %>
</div>
<% end %>
