<div class="ui top attached tabular menu">
  <%= link_to t('org.admin.organs.current.title'), current_admin_organs_path, class: active_helper('org/admin/organs': ['current']) %>
  <%= link_to t('org.admin.organs.index.title'), admin_organs_path, class: active_helper('org/admin/organs': ['index']) %>
</div>
