<div class="ui segment breadcrumb">
  <%= link_to 'Back', panel_departments_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= form_with model: @department, scope: :department, url: panel_department_path(@department), local: true do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
