<div id="new_card" class="cards">
<% @roles.each do |role| %>
  <%= button_to({ controller: 'organs', action: 'new', role_id: role.id }, class: 'button is-fullwidth is-primary') do %>
    <i class="fa-solid fa-plus"></i>
    <span class="ml-1"><%= role.tip %></span>
  <% end %>
<% end %>
</div>