<div class="weui-panel">
  <div class="weui-panel__hd">
    <span>打印机</span>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div
        class="weui-cells"
        data-controller="mini-program"
        data-mini-program-url-value="/pages/print/config/index"
        data-mini-program-data-value="<%= { url: url_for(only_path: false) }.to_json %>"
      >
        <div data-action="click->mini-program#link" class="weui-cell weui-cell_access">
          <div class="weui-cell__bd">
            <span><%= '设置打印机' %></span>
          </div>
          <div class="weui-cell__ft"></div>
        </div>
      </div>
    </div>
  </div>
</div>
