<div class="ui divided items">
  <% @notifications.limit(5).each do |notification| %>
    <div class="item">
      <div class="content">
        <i class="bell icon"></i>
        <%= link_to url_notification_path(notification) do %>
          <%= notification.title %>
          <%= notification.body %>
        <% end %>
        <div class="extra content">
          <span class="local_time"><%= notification.created_at.to_s %></span>
        </div>
      </div>
    </div>
  <% end %>
</div>