<p>Dear colleague,</p>

<p>Someone has finished the exam of <%= @exam.lesson.title %></p>
<p>Please review <%= link_to @exam.lesson.title, train_lesson_paper_exam_url(@exam.lesson_paper_id, @exam.id) %> </p>
