<div class="ui site vertical fluid labeled icon secondary menu">
  <div class="item">
    <%= image_tag current_organ.logo, class: 'ui avatar image' if current_organ.logo.present? %>
    <%= current_organ.name %>
    <%= link_to my_members_path do %>
      <i class="fas fa-exchange-alt" data-tooltip="xxx"></i>
    <% end %>
  </div>
  
  <!--<div class="ui inline dropdown" id="organ_dropdown">
    <div class="text">
      <i class="dropdown icon"></i>
      <div class="menu">
        <%# other_organs.each do |organ| %>
          <div class="item">
            <%#= image_tag organ.logo, class: 'ui avatar image' if organ.logo.present? %>
            <%#= link_to organ.name, login_admin_organ_path(organ_id: organ.id) %>
          </div>
        <%# end %>
      </div>
    </div>
  </div>-->
</div>
