<div class="ui basic center aligned segment">
  <div class="ui avatar image"><%= image_tag current_organ.logo, class: 'ui avatar image' %>
  </div>
  <h4 class="ui header">
    <%= current_organ.name %>
    <%= link_to my_members_path, data: { tooltip: '切换园区' } do %>
      <i class="fas fa-exchange-alt"></i>
    <% end %>
  </h4>
</div>
