<footer class="ui padded grid">
  <div class="ui container">
    <div class="divided row">

    </div>
    <div class="ui basic center aligned segment">
      <p class="">Copyright©1996-<%= Date.today.year %> MDPI AG All Rights Reserved.</p>
      <p class="">MDPI AG 版权所有</p>
    </div>
  </div>

</footer>
