<%= link_to({ controller: 'factory/in/home', org_id: "org_#{organ.id}" }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd"><%= organ.name %></div>
  <div class="weui-cell__ft"></div>
<% end %>
