<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">
    <%= account.identity %>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells" data-empty-target="content">
      <% account.members.includes(organ: :organ_domains).each do |member| %>
        <%= link_to({ controller: '/me/home', auth_token: account.auth_token, **member.organ.url_options }, class: 'weui-cell weui-cell_access') do %>
          <div class="weui-cell__bd">
            <span><%= member.organ.name %></span>
          </div>
          <div class="weui-cell__ft"></div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
