<div class="box is-padding-less mx-3">
  <div class="box-header">
    <%= account.identity %>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells" data-empty-target="content">
      <% account.members.includes(organ: :organ_domains).each do |member| %>
        <%= link_to({ controller: '/me/home', auth_token: account.auth_token, **member.organ.url_options }, class: 'media') do %>
          <div class="media-content">
            <span><%= member.organ.name %></span>
          </div>
          <div class="media-right">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
