<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('org.admin.members.index.title'), { action: 'index' } %></li>
    <li class="is-active"><%= @member.name %></li>
  </ul>
</div>
