<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('org.admin.members.index.title'), { controller: 'members' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
