<%= render 'top_bar' %>

<div class="box mx-3">
  <div class="weui-panel__bd">
    <div class="weui-cells">
      <%= render 'index_item' %>
    </div>
  </div>
</div>

<div class="box mx-3">
  <div class="weui-panel__bd">
    <div class="weui-cells">
      <%= render 'logout_item' %>
    </div>
  </div>
</div>
