<div class="ui divided items">
  <% @notifications.each do |notification| %>
    <div class="item">
      <div class="content">
        <i class="bell icon"></i>
        <%= link_to url_my_notification_path(notification) do %>
          <%= notification.title %>
          <%= notification.body %>
        <% end %>
        <div class="extra content">
          <time><%= notification.created_at.to_s(:rfc822) %></time>
        </div>
      </div>
    </div>
  <% end %>
</div>
