<%= render 'tabs' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>

    </tr>
  </thead>

  <tbody>
  <% @job_transfers.each do |job_transfer| %>
    <tr>

      <td>
        <% if job_transfer.init? %>
          <%= link_to t('.edit.title'), edit_my_job_transfer_path(job_transfer), class: 'ui pink label' %>
          <%= link_to t('.destroy.title'), my_job_transfer_path(job_transfer), method: :delete, data: { turbo_confirm: t('.confirm') }, class: 'ui red label' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @job_transfers %>
