<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('org.admin.departments.index.title'), { controller: 'departments' } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
