<p>Dear user：<%= @user.email %>!</p>

<p>You have clicked "forget password" when you visit <%= t('site_name') %>, please reset your password by click:</p>

<p><%= link_to 'Change Password', password_reset_url(@user.get_reset_token) %></p>

<p>If you didn't send the request, please ignore this email and your password will not be changed.</p>
