<table class="as-search">
  <tr>
    <th>Office:</th>
    <td>
      <%= link_to t('.all'), filter_params(except: [:office_id]), class: active_params(office_id: '', active: 'button is-info', item: 'button is-light') %>
      <% Office.all.each do |office| %>
        <%= link_to "#{office.name}（#{office.enabled_members_count}）", filter_params(office_id: office.id), class: active_params(office_id: office.id, active: 'button is-info', item: 'button is-light') %>
      <% end %>
    </td>
  </tr>
</table>
