<div class="item">
  <span class="header">工作管理</span>
  <div class="menu">
    <%= link_to t('org.mine.organs.index.title'), my_organs_path, class: active_helper(controllers: ['organs']) %>
  </div>
</div>
