<%= render 'top_bar' %>

<div class="weui-panel">
  <div class="weui-panel__bd">
    <%= form_with theme: 'weui', model: @member, state: 'return', url: { action: 'update' } do |f| %>
      <div class="weui-form__control-area">
        <div class="weui-cells__group weui-cells__group_form">
          <div class="weui-cells weui-cells_form">
            <%= f.text_field :name %>
          </div>
        </div>
      </div>
      <%= f.submit nil, wrap: { all: nil } %>
    <% end %>
  </div>
</div>
