<div class="box mx-3 flex-grow-1">
  <%= form_with theme: 'weui', model: @member, state: 'return', url: { action: 'update' } do |f| %>
    <div class="form-fields">
      <%= f.text_field :name %>
    </div>
    <%= f.submit nil, wrap: { all: nil } %>
  <% end %>
</div>
