<div class="box mx-3">
  <p class="text-centered">
    <strong><%= @member.organ.name %></strong>
    <span><%= @member.name %></span>
  </p>
  <figure class="image">
    <%= image_tag @scene.qrcode_data_url if @scene %>
  </figure>
</div>

<div class="box mx-3">
  <div class="box-header">邀请记录</div>
  <div class="weui-panel__bd">
    <div class="weui-cells mt-0">
      <%= render partial: 'request', collection: @requests, as: :request %>
    </div>
  </div>
</div>
