<li><%= link_to t('.organs.index.title.'), { controller: 'organs', anchor: "tr_#{@organ.id}" } %></li>
<li><span class="px-3"><%= @organ.name %></span></li>
<li class="is-active"><%= t('.title') %></li>
