<%= link_to({ controller: 'trade/my/carts', action: 'list' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-arrow-right-arrow-left has-text-link"></i>
    <span class="pl-1"><%= current_user.name %></span>
    <span class="weui-badge">个人版</span>
  </div>
  <div class="weui-cell__ft">
    <span class="has-text-grey has-text-weight-normal">切换</span>
  </div>
<% end %>
