<div class="menu ex-accordion">
  <%= link_to our_organ_path, class: active_helper(controllers: ['org/our/organs'], active_class: 'menu-label is-active', item_class: 'menu-label') do %>
    <i class="fas fa-home"></i><span><%= t('org.our.organs.show.title') %></span>
  <% end %>
</div>
