<div class="menu ex-accordion">
  <%= link_to our_root_path, class: active_helper(controllers: ['org/our/home'], active: 'menu-label is-active', item: 'menu-label') do %>
    <i class="fas fa-home"></i><span><%= t('org.our.organs.show.title') %></span>
  <% end %>
</div>
