<div style="width: auto">
  <div class="ui input" style="width: 12rem">
    <input type="text" placeholder="姓名...">
  </div>
  <div class="ui input" style="width: 12rem">
    <input type="text" placeholder="电话...">
  </div>
  <div class="ui input" style="width: 12rem">
    <input type="text" placeholder="邮箱...">
  </div>
  <button class="ui button">
    搜索
  </button>
</div>