<div class="ui segment top attached breadcrumb">
  <%= link_to 'Back', panel_members_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section"><%= @member.name %></div>
</div>

<div class="ui bottom attached borderless menu">
  <%= link_to 'Staff Info', panel_member_path(@member), class: active_helper('hr/members': 'show') %>
  <%= link_to 'Profile', profile_panel_member_path(@member), class: active_helper('hr/members': 'profile') %>
</div>
