<div class="right menu">
  <div class="item">
    <%= link_to 'New Employee', new_panel_member_path, class: 'ui mini teal primary button' %>
  </div>
  <div class="item">
    <%= link_to t('.export'), find_data_list_table_lists_path('MemberExport', params.fetch(:q, {}).permit(:office_id)), class: 'ui blue secondary button', remote: true %>
  </div>
</div>