<%= render 'edit_menu' %>

<div class="ui segment">
  <%= form_with model: @member, as: :member, url: panel_member_path(@member), local: true do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
