<div class="ui segment breadcrumb">
  <%= link_to 'Back', panel_members_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Add</div>
</div>

<div class="ui segment">
  <%= form_with model: [:panel, @member], local: true do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>
</div>
