<div class="tabs">
  <%= link_to 'Staff Info', edit_admin_member_path(@member), class: active_helper('hr/members': ['edit']) %>
  <%= link_to 'Profile', edit_profile_admin_member_path(@member), class: active_helper('hr/members': ['edit_profile']) %>
</div>
