<% if rails_role_user.any_role?('org/panel/departments', 'org/panel/offices') %>
<div class="item">
  <a class="<%= active_helper(modules: 'org/panel', active_class: 'title active', item_class: 'title') %>">
    <i class="fas fa-sitemap"></i>
    <span>组织管理</span>
    <i class="dropdown icon"></i>
  </a>
  <div class="<%= active_helper(modules: 'org/panel', active_class: 'active menu content', item_class: 'menu content') %>">
    <%= link_to t('org.panel.departments.index.title'), panel_departments_path, class: active_helper(controllers: ['departments', 'job_descriptions']) %>
    <%= link_to t('org.panel.members.index.title'), panel_members_path, class: active_helper(controllers: ['members']) %>
    <%# link_to 'Supports', panel_supports_path, class: active_helper(controllers: 'supports') %>
    <%# link_to 'Tutorials', panel_tutorials_path, class: active_helper(controllers: ['tutorials']) %>
    <%# link_to 'Job Transfers', panel_job_transfers_path, class: active_helper(controllers: ['job_transfers']) %>
    <%# link_to 'Resigns', panel_resigns_path, class: active_helper(controllers: ['resigns', 'resign_reasons']) %>
  </div>
</div>
<% end %>
