<%= link_to({ controller: 'org/board/members', action: 'qrcode', id: @member.id, app_id: app.id }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <span><%= app.type_i18n %></span>
    <span><%= @member.organ.name %></span>
    <span><%= @member.name %></span>
  </div>
  <div class="weui-cell__ft">
    <i class="fa-regular fa-qrcode"></i>
  </div>
<% end %>
