<div class="weui-panel">
  <div class="weui-panel__hd"><%= t('.title') %></div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells">
      <% if @wechat_apps.size > 1 %>
        <%= render partial: 'app', collection: @wechat_apps, as: :app %>
      <% elsif @wechat_apps.size == 1 %>
        <%= render partial: 'qrcode', locals: { scene: @scene } %>
      <% end %>
      </div>
    </div>
  </div>
</div>
