<%= render 'department_navbar' %>

<div class="ui basic segment breadcrumb">
  <%= link_to 'Back', panel_department_job_descriptions_path(@department), class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section">Add</div>
</div>

<div class="ui segment">
  <%= form_with model: @job_description, url: panel_department_job_descriptions_path(@department), local: true do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
