<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('org.admin.organs.index.title.'), { controller: 'organs' } %></li>
    <li><span class="px-3"><%= @organ.name %></span></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
