<div class="ui modal" id="modal">
  <i class="fas fa-times close icon"></i>
  <div class="ui header">
    <%= t('.title') %>
  </div>
  
  <div class="content">
    <table class="ui table">
      <tbody>
      <tr>
        <td></td>
        <td class="ui labels">
          <% @organ_handle.department_grants.where(organ_id: current_organ&.id).includes(:job_title).each do |department_grant| %>
          <span class="ui label">
            <%= department_grant.job_title&.name %>
            <%= link_to admin_department_grant_path(@organ_handle.record_class, @organ_handle.record_column, department_grant), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </span>
          <% end %>
        </td>
        <td id="add">
          <%= render 'add' %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
