<p>Dear colleague</p>

<p>Your lesson <%= link_to @lesson_member.lesson.title, my_lesson_url(@lesson_member.lesson_id) %> will start at <%= @lesson_member.lesson.next_start_at %>.</p>
<p>Please hurry up and finish this lesson.</p>