<div class="weui-panel is-borderless">
  <div class="weui-panel__hd">选择身份进入</div>
</div>

<%= render partial: 'account', collection: @accounts, as: :account %>

<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">用户身份</div>
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells" data-empty-target="content">
        <%= link_to({ controller: '/my/home', disposable_token: current_account.once_token }, class: 'weui-cell weui-cell_access') do %>
          <div class="weui-cell__bd">
            <span><%= current_organ.name %></span>
          </div>
          <div class="weui-cell__ft"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
