<div class="weui-panel is-borderless">
  <div class="weui-panel__hd">选择身份进入</div>
</div>

<%= render partial: 'account', collection: @accounts, as: :account %>

<div class="weui-panel" data-controller="empty">
  <div class="weui-panel__hd">用户身份</div>
  <div class="weui-panel__bd">
    <div class="media is-boxed">
      <% if current_organ %>
        <%= render partial: 'organ', locals: { organ: current_organ } %>
      <% end %>
    </div>
  </div>
</div>
