<div class="box is-padding-less">
  <div class="box-header">选择身份进入</div>
</div>

<%= render partial: 'account', collection: @accounts, as: :account %>

<div class="box is-padding-less">
  <div class="box-header">用户身份</div>
  <div class="weui-panel__bd">
    <div class="media is-boxed">
      <% if current_organ %>
        <%= render partial: 'organ', locals: { organ: current_organ } %>
      <% end %>
    </div>
  </div>
</div>
