<%= link_to({ controller: organ.redirect_controller, action: organ.redirect_action, disposable_token: current_account.once_token, host: organ.host }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <span><%= organ.name %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
