<% if current_organ %>
  <div class="header item">
    <%= image_tag current_organ.logo, class: 'ui avatar image' %>
    <span><%= current_organ.name %></span>
  </div>
<% else %>
  <%= link_to index_path, class: 'logo item' do %>
    <%= image_tag 'logo.jpg', class: 'ui image' %>
  <% end %>
<% end %>
