<% if current_organ %>
  <div class="has-page-centered">
    <p>您不是该组织成员，请联系管理员</p>
  </div>
<% elsif current_account && request.subdomain == 'admin' %>
  <div class="panel background-white mx-3 mt-3">
    <p class="p-3">您在以下组织存在账号，请选择账号登录</p>
    <% current_account.members.each do |member| %>
      <%= link_to({ controller: 'org/board/members', action: 'login', id: member.id }, class: 'panel-block') do %>
        <span><%= member.organ.name %></span>
      <% end %>
    <% end %>
  </div>
<% elsif current_user && request.subdomain == 'admin' %>
  <div class="panel background-white mx-3 mt-3">
    <p class="p-3">您在以下组织存在账号，请选择账号登录</p>
    <% current_user.members.each do |member| %>
      <%= link_to({ controller: 'org/board/members', action: 'login', id: member.id }, class: 'panel-block') do %>
        <span><%= member.organ.name %></span>
      <% end %>
    <% end %>
  </div>
<% end %>
