<% if current_organ %>
  <div class="has-column-centered">
    <p>您不是该组织成员，请联系管理员</p>
  </div>
<% elsif current_account && request.subdomain == 'admin' %>
  <div>
    <p>您在以下组织存在账号，请选择账号登录</p>
    <div class="buttons mt-3">
    <% current_account.members.includes(:organ).each do |member| %>
      <%= link_to member.organ.name, { controller: 'org/board/members', action: 'login', id: member.id }, class: 'button is-link' %>
    <% end %>
    </div>
  </div>
<% elsif current_user && request.subdomain == 'admin' %>
  <div>
    <p>您在以下组织存在账号，请选择账号登录</p>
    <div class="buttons mt-3">
    <% current_user.members.includes(:organ).each do |member| %>
      <%= link_to member.organ.name, { controller: 'org/board/members', action: 'login', id: member.id }, class: 'button is-link' %>
    <% end %>
    </div>
  </div>
<% else %>
  <div>
    <p>组织不存在</p>
  </div>
<% end %>
