<% if current_organ %>
  <div class="ui fluid vertical attached menu">
    <%= link_to panel_organ_path, class: active_helper(controllers: ['org/panel/organs']) do %>
      <i class="fas fa-home"></i><span><%= t('org.panel.organs.show.title') %></span>
    <% end %>
  </div>
<% end %>
