<%= search_form_with model: Support.new, scope: '' do |f| %>
  <div class="fields">
    <%= f.collection_select :office_id, Office.all, :id, :name, { selected: params[:office_id] } %>
    <%= f.submit 'Search' %>
  </div>
<% end %>


