<div class="ui top attached borderless menu">
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Department', new_admin_department_path, class: 'ui mini teal primary button' %>
    </div>
    <div class="item">
      <%= link_to t('.export'), find_data_list_table_lists_path('DepartmentExport', request.query_parameters), class: 'ui mini secondary button', remote: true %>
    </div>
  </div>
</div>


