<div class="ui top attached borderless menu">
  <%= link_to 'Departments', admin_departments_path, class: active_helper('hr_admin/departments': ['index']) %>
  <%= link_to 'Supports', supports_admin_departments_path, class: active_helper('hr_admin/departments': ['supports']) %>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Department', new_admin_department_path, class: 'ui mini teal button' %>
    </div>
    <div class="item">
      <%= link_to t('.export'), find_data_list_table_lists_path('DepartmentExport', request.query_parameters), class: 'ui mini blue button', remote: true %>
    </div>
  </div>
</div>


