<div class="ui modal" id="modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    Add Comment
  </div>

  <div class="content">
    <%= form_with model: @recruitment_plan, url: handle_my_recruitment_plan_path(@recruitment_plan), method: :patch, local: true do |f| %>
      <%= f.hidden_field :state, value: 'rejected' %>
      <%= f.text_area :comment %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
