<div class="ui menu vertical fluid">
  <%= link_to 'Home', my_root_path, class: active_helper(controllers: ['home']) %>
  <%= link_to 'Calendar', my_calendar_path, class: active_helper(controllers: ['calendars']) %>
  <div class="item">
    <span class="header">User</span>
    <div class="menu">
      <%= link_to 'Profile', my_user_path, class: active_helper(controllers: ['users', 'members', 'profiles']) %>
    </div>
  </div>
 
</div>






