<div id="tr_<%= organ.id %>" class="card is-middle">
  <div class="card-image">
    <%= image_tag organ.logo.variant(resize_to_limit: [150, 150]), class: 'image' if organ.logo.attached? %>
  </div>
  <div class="card-content">
    <strong><%= organ.name %></strong>
  </div>
  <div class="card-footer">
    <%= button_to '我的', { action: 'redirect', id: organ.id }, form: { class: 'card-footer-item', target: '_blank' } %>
  </div>
</div>
