<div class="ui top attached borderless menu">
  <%= link_to 'My Job Transfers', my_job_transfers_path, class: active_helper('my/job_transfers': ['index']) %>
  <%= link_to 'Manage Job Transfers', my_admin_job_transfers_path, class: active_helper('hr_admin/job_transfers': ['my']) %>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Job Transfer', new_my_job_transfer_path, class: 'ui teal button' %>
    </div>
  </div>
</div>
