<div class="ui segment breadcrumb">
  <%= link_to 'Back', my_job_transfers_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Add</div>
</div>

<div class="ui segment">
  <%= render 'form' %>
</div>