<footer class="ui padded grid">
  <div class="ui container">
    <div class="divided row">

    </div>
    <div class="ui basic center aligned segment">
      <p>© 1996-<%= Date.today.year %> <%= t('.site.name') %> All Rights Reserved.</p>
    </div>
  </div>
</footer>
<div id="modal"></div>
