<header class="ui inverted site borderless menu">
  <div class="ui container">
    <% if current_user %>
      <%= link_to root_path, class: 'item header' do %>
        <span>ETM</span>
      <% end %>
      <%= link_to 'Team', members_path, class: active_helper(controllers: 'members') %>
    <% else %>
      <%= link_to 'MDPI', root_path, class: 'item header' %>
    <% end %>

    <%= render 'layouts/right_menu' %>

  </div>
</header>


