<%= render layout: 'layouts/application_head' do %>
  <%= render 'nav_bar' %>
  <div id="alert"></div>
  <main class="container">
    <%= render 'breadcrumb' %>
    <main class="columns">
      <div class="column">
        <%= yield %>
      </div>
    </main>
  </main>
<% end %>
