<div class="ui top attached borderless menu">
  <%= link_to 'My Resign', my_resign_path, class: active_helper('my/resigns': ['show']) %>
  <%= link_to 'Manage Resigns', my_admin_resigns_path, class: active_helper('org/admin/resigns': ['my']) %>
</div>
